doctype html
html

	head
		title Future Farm Lands
		link(rel="shortcut icon" href="https://ecoland.s3.eu-central-1.amazonaws.com/future-farm/assets/favicon.ico" type="image/x-icon")
		link(rel="icon" href="https://ecoland.s3.eu-central-1.amazonaws.com/future-farm/assets/favicon.ico" type="image/x-icon")
		link(rel='stylesheet', type='text/css', href='/style.css')

	body
		h1 loading
		h2 loading
		script(type="text/javascript" src="https://ecoland.s3.eu-central-1.amazonaws.com/future-farm/bundle.min.js")